/* brand colors */
$brand-blue: #0097A7;
$brand-gray: #ccc;

/* materuail ui buttons */
$button-default: #fff;
$button-primary: #ff4081;
$button-secondary: #00bcd4;

@mixin bordered-list($color) {
    border-bottom: 1px dotted $color;
}
