/**
 * General
 */
body {
    margin: 0;
    background: #f6f6f6;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333;
}

a {
    color: #337ab7;
    text-decoration: none;

    &:hover, &:focus {
        color: #23527c;
        text-decoration: underline;
    }

    &:focus {
        outline: thin dotted;
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
    }
}

.container {
    margin: 40px 75px 20px 330px;

    h2 {
        font-size: 1.8em;
        padding-bottom: 10px;
        border-bottom: 1px solid #ddd;
    }

    @media(min-width: 1600px) {
        margin-left: 370px;
        margin-right: 80px;
    }
}

/**
 * State
 */
.state-fetching {
    display: none;
    padding-top: 20px;
    text-align: center;

    &#show {
        display: block;
    }
}

.state-empty {
    display: none;
    padding-top: 20px;
    text-align: center;

    &#show {
        display: block;
    }
}

/**
 * Buttons
 */
.floatingButton-add {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 35px;
    z-index: 5;
}

/**
 * Page not found
 */
.card-404 {
    margin: 50px auto 0;
    padding: 10px 50px;
    max-width: 600px;
    height: 500px;
    background: #f9a818 url('../images/404.gif') no-repeat 50% 10% !important;
    text-align: center;

    .button-back {
        margin-top: 430px;
    }
}

/**
 * Browsehappy
 */
.browsehappy {
    margin: 50px 15%;
    padding: 50px 30px;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 1px 6px rgba(0,0,0,0.12), 0 1px 4px rgba(0,0,0,0.12);
    border-radius: 2px;
}
