/**
 * General
 */
body {
    margin: 0;
    background: #f6f6f6;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333;
}

.container {
    margin: 40px 75px 20px 330px;

    h2 {
        font-size: 1.8em;
        padding-bottom: 10px;
        border-bottom: 1px solid #ddd;
    }
}

/**
 * State
 */
.state-fetching {
    display: none;
    padding-top: 20px;
    text-align: center;

    &#show {
        display: block;
    }
}

.state-empty {
    display: none;
    padding-top: 20px;
    text-align: center;

    &#show {
        display: block;
    }
}

/**
 * Buttons
 */
.floatingButton-add {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 35px;
    z-index: 2;
}
