body {
    margin: 0;
    background: #f6f6f6;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333;
}

.container {
    margin: 40px 75px 20px 325px;

    h2 {
        font-size: 1.8em;
        padding-bottom: 10px;
        border-bottom: 1px solid #ddd;
    }
}
