.clearfix {
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

.show {
    display: block !important;
}

.hide {
    display: none !important;
}
