

.login-box {
    margin: auto;
    width: 350px;
    text-align: center;

    header {
        width: 100%;
        background-color: $brand-blue;
        text-align: left;

        h2 {
            margin: 0;
            padding: 20px 30px;
            color: #fff;
            font-size: 22px;
            font-weight: 500;
        }
    }

    input {
        width: 100%;
    }

    .btn-login {
        margin-top: 30px;
    }

    .btn-forgot-pw {
        margin-top: 10px;
        font-weight: 400;
    }

    #error-message {
        @include error-message(15px 15px -10px);

    }

    footer {
        margin-top: 15px;
        padding: 10px 0;
        background-color: #eee;

        p {
            margin: 0;
            font-size: 12px;

            button {
                margin-left: 2px !important;
                font-size: 12px !important;

                span {
                    padding: 0 8px !important;
                }
            }
        }
    }
}

.logout-box {
    margin: 50px auto 0;
    padding: 10px 50px;
    max-width: 500px;
    text-align: center;

    p {
        font-weight: 500;
    }
}

.lost-password-box {
    margin: 50px auto 0;
    padding: 10px 50px;
    max-width: 600px;
    text-align: center;

    .btn-password {
        margin: 35px 0 15px;

        div {
            height: 45px !important;

            button {
                span {
                    padding: 0 25px !important;
                    font-size: 16px !important;
                    line-height: 45px !important;
                }
            }
        }
    }
}

.register-box {
    #error-message {
        @include error-message(25px -20px -10px);
    }
}
