.view-homepage {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #4d8eb4 url('../images/home-bg.gif') no-repeat right top;
        opacity: .4;
        z-index: -1;
    }
}
