.view-todo {
    .item-removeButton {
        margin: 8px 11px 0 0;
        padding: 4px;
        border-radius: 50%;

        &:hover {
            background-color: #ddd;
        }
    }

    .footer {
        .left {
            float: left;
            margin-top: 6px;
        }

        .right {
            float: right;
        }
    }

    .footer2 {
        float: right;
    }
}
