.view-todo {
    .footer {
        .left {
            float: left;
            margin-top: 6px;
        }

        .right {
            float: right;
        }
    }

    .footer2 {
        float: right;
    }
}
