.view-todo {
    position: relative;

    .todo-container {
        column-width: 320px;
        column-gap: 15px;
        width: 90%;
        max-width: 1100px;
        margin: 50px auto;
    }

    .todo-pin {
        background: #fefefe;
        border: 2px solid #fcfcfc;
        box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
        margin: 0 2px 15px;
        padding: 15px;
        padding-bottom: 10px;
        transition: opacity .4s ease-in-out;
        display: inline-block;
        column-break-inside: avoid;
    }


    .todo {
        float: left;
        width: 48%;
        margin: 0.5%;
        vertical-align: top;
        border: 1px solid #eee;
        border-radius: 2px;
    }

    .list-empty {
        display: none;
        margin: 12px 0 25px;
        padding: 0 25px;
        font-size: 14px;

        &#show {
            display: block;
        }
    }

    .item-removeButton {
        margin: 8px 11px 0 0;
        padding: 4px;
        border-radius: 50%;

        &:hover {
            background-color: #ddd;
        }
    }

    .footer {
        .left {
            float: left;
            margin-top: 6px;
        }

        .right {
            float: right;
        }
    }

    .footer2 {
        float: right;
    }
}
