body {
    margin: 0;
    background: #f6f6f6;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333;
}

.container {
    margin: 40px 60px 20px 310px;
}

/* Card */
.state-card {
    margin: 50px auto 0;
    padding: 10px 50px;
    max-width: 500px;
    text-align: center;
}
