.big-calendar {
    .rbc-toolbar {
        margin-bottom: 20px;

        .rbc-toolbar-label {
            font-size: 1.4em;
            font-weight: 700;
        }
    }

    .rbc-month-view {
        border-radius: 2px;
    }

    .rbc-event {
        background-color: $brand-blue;
        border-radius: 2px;

        &.rbc-selected {
            background-color: $brand-blue;
        }
    }

    .rbc-btn-group {
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.12);

        button {
            padding: 0 16px;
            line-height: 36px;
            background-color: $button-primary;
            color: #fff;
            font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-size: 14px;
            font-weight: 500;
            text-transform: uppercase;
            box-sizing: border-box;
            border: 0;
            border-radius: 2px;
            cursor: pointer;
            text-decoration: none;
            letter-spacing: 0;
            outline: none;
            transform: translate3d(0, 0, 0);
            transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;

            &:active {
                background-color: rgba(255, 64, 129, 0.5) !important;
            }

            &:active:focus, &:focus {
                background-color: $button-primary;
                color: #fff;
                box-shadow: none;
            }

            &:hover, &:active:hover, &:focus:hover {
                background-color: rgba(255, 64, 129, 0.6);
                color: #fff;
            }

            &.rbc-active {
                background-color: #A00339;
                color: #eee;
                box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.2);
                cursor: default;

                &:hover, &:focus, &:active {
                    background-color: #A00339 !important;
                    color: #eee !important;
                }
            }
        }
    }

    .rbc-show-more {
        color: #337ab7;
        font-weight: 500;
    }
}
