@mixin card-padding() {
    padding-left: 25px !important;
    padding-right: 25px !important;
}

/* Card */
.state-card {
    margin: 50px auto 0;
    padding: 10px 50px;
    max-width: 500px;
    text-align: center;
}

.card-title {
    @include card-padding();
    background-color: #eee;
}

.card-text {
    @include card-padding();
    font-size: inherit !important;
}
