@mixin card-padding() {
    padding-left: 25px !important;
    padding-right: 25px !important;
}

/* Card */
.card-title {
    @include card-padding();
    background-color: #eee;
}

.card-text {
    @include card-padding();
    font-size: inherit !important;
}
