.sidebar {
    header {
        padding: 20px 20px 25px;
        background-color: $brand-blue;

        h1 {
            margin: 0;
            font-size: 1.8em;
            color: #ffffff;

            small {
                margin-left: -5px;
                font-size: .4em;
                font-weight: 400;
                color: $brand-gray;
            }
        }
    }
}
